# -----------------------------
# Python Virtual Environment
# -----------------------------
.venv/

# -----------------------------
# Python Cache Files
# -----------------------------
__pycache__/
*.py[cod]

# -----------------------------
# VS Code Settings
# -----------------------------
.vscode/

# -----------------------------
# Jupyter Notebook Checkpoints
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# Build Artifacts
# -----------------------------
build/
dist/

# -----------------------------
# Log Files
# -----------------------------
*.log

# -----------------------------
# Operating System Files
# -----------------------------
Thumbs.db
.DS_Store